::selection {
  background: #709070;
  color: black;
}

.font {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  color: white;
  background: linear-gradient(to bottom, #808080, #404040);
  overflow-x: hidden;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(to left, #568450, #509950);
  flex-wrap: wrap;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 10px;
}

.header-cela {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: flex-start;

  background: linear-gradient(to right, #568450, #509950);
  position: sticky;
  top: 0;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;

  transition: background-color 0.2s;
}

.navbar a.current {
  background-color: #92817a;
}

.navbar a:hover {
  background-color: #92817a;
}

.homepage-display {
  display: flex;
  height: 100%;
  width: 100vw;
  flex-direction: column;

  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.77)),
    url(assets/homepage2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.display-cela {
  display: flex;
  justify-content: center;
  font-size: clamp(70px, 10vw, 150px);
  color: #568450;
  -webkit-text-stroke: 0.2vw black;
}

.motivational-quote {
  display: flex;
  justify-content: center;
  font-size: clamp(20px, 2vw, 40px);
  padding-top: 10vw;
  padding-bottom: 5vw;
  color: #903040;
  margin: 0 3vw;
  -webkit-text-stroke: 0.08vw black;
}

#krolik {
  width: auto;
  height: 90px;
}

footer {
  display: flex;

  justify-content: right;
  padding-right: 100px;
  border-top: 5px solid black;
  background-color: rgb(13, 36, 11);
}

.history {
  display: flex;
  font-size: 22px;
  color: rgb(73, 40, 40);
  background-color: rgba(255, 255, 255, 0.454);
  border-radius: 35px;
  flex-direction: column;
  margin: 3vw 20vw;
  padding: 1vw 3vw 2vw;
}

.form-kontaktowy {
  display: flex;
  font-size: 22px;
  color: rgb(73, 40, 40);
  background-color: rgba(255, 255, 255, 0.454);
  border-radius: 35px;
  flex-direction: column;
  margin: 3vw 20vw;
  padding: 1vw 3vw 2vw;
}

main {
  display: flex;
  flex: 1;

  flex-direction: column;
}

.oCeli {
  font-size: 40px;
}

.form-head {
  font-size: 40px;
}

html {
  background-color: rgb(13, 36, 11);
  height: 100%;
}

form {
  display: flex;

  flex-direction: column;
}

#blik {
  display: none;
}

label {
  display: flex;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
}

#kod-label {
  display: flex;
  color: rgb(30, 112, 124);
}

input,
textarea,
select {
  display: flex;
  
  font-size: 15px;
  background-color: #9CA39C;
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  border-radius: 10px;
  font:inherit;
}

button {
    margin-top: 20px;
    background-color: #9CA39C;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    font-size:20px;
    font:inherit;
}

.zdjecia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    
}


#galeria-head {
    display: flex;
    justify-content: center;
    margin: 10px;
}

